.mz-productdetail {
    overflow: auto;
    padding: 0 12px;

    .mz-productdetail-qty {
        width: 75px;
        display: inline-block;
        margin-right: @gutter;
    }

    .mz-price {
        font-size: @fontSizeLarge;
    }

    .mz-price-msrp {
        display: block;
        font-size: @fontSizeSmall;
        color: lighten(@textColor, 15%);
        .mz-price {
            font-size: @fontSizeSmall;
        }
    }

    .mz-productdetail-notpurchasable {
        font-size: @fontSizeSmall;
        margin: 5px 0;
        color: #999;
    }

    .mz-productdetail-conversion {
        .clearfix();
    }

    .mz-productdetail-conversion-controls,
    .mz-productdetail-conversion-buttons {
        display: inline-block;
        vertical-align: middle;
    }

        .mz-productdetail-conversion-buttons .mz-button {
            display: block;
            margin: 0 0 @gutter/2;
        }

    .mz-productbundle-measurements-product {
        clear: both;
    }

    .mz-productbundle-measurements-productname {
        font-weight: bold;
    }
}

.mz-productdetail-measurements .mz-propertylist,
.mz-productdetail-properties .mz-propertylist,
.mz-productdetail-bundleitems .mz-propertylist {
    float: left;
    max-width: 400px;
}
.mz-product {
    .mz-product-top-content{
        .mz-brand{
            a{
                color: @linkColor;
                font-size:16px;
                text-align:left;
                line-height:28px;
            }
       }
    }
    .mz-product-tabs {
            .nav {
                text-align: center;
                &.nav-tabs {
                    border-bottom: none;
                    li {
                       // float: none;
                        display: inline-block;
                        margin: 3px 3px;
                        a {
                            border: 0;
                            color: #000;
                            font-size: 16px;
                            font-weight: 600;
                            padding: 5px 15px;
                            text-transform: uppercase;
                            &:hover {
                                background: #fff;
                                border: 0;
                            }
                        }
                        &.active {
                            a {
                                border: 0;
                                border-radius: 0;
                                border-right: 1px solid #d6cfcf;
                              //  border-bottom: 4px solid #e20177;
                            }
                        }
                    }
                }
            }
            .tab-content {
                border-top: 1px solid #e1e1e1;
                font-size: 14px;
                line-height: 22px;
                min-height: 150px;
                padding: 20px 0;
                text-align: left;
            }
        }
        .mz-l-pagecontent {
                h1 {
                    &.mz-pagetitle {
                        color: #495363;
                        font-size: 16px;
                        margin-top: 16px;
                        margin-bottom: 10px;
                        padding-bottom: 12px;
                        text-transform: uppercase;
                    }
                }
    }
}
//no option selection
.blockUI.blockMsg.blockPage {
    width: 300px !important;
    height: 120px !important;
}
