#global-cart {
    display: none;
    position: absolute;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    top: 43px;
    left: -43px;
    width: ~"calc(90% + 481px)";  
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: white;   
    z-index: 2;
    .arrow-up {
        z-index: 3;
        position: absolute;
        top: -20px;
        left: 123px; 
        margin-left: -10px;
        width: 0px;
        height: 0px;
        border-color: transparent;
        border-style: solid;
        border-width: 10px;
        content: "";
        border-bottom-color: @btnBgColor;
    }
    .mz-info-section {
        color: #fff;
        background: @btnBgColor;
        margin-bottom: 5px;
        padding: 10px 30px;
    }
    .media-heading {
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .cart-items {
        list-style: none;
        padding: 0;
    }
    .mz-l-carousel{
        height:auto;
    }
    .mz-productlist-item {
        padding-top: 10px;
        width: 200px;
        img {
            max-height: 100px;
            max-width: 100px;
        }
    }
    .view-cart-btn {
        display: inline-block;
    }
    .global-cart-padding{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.cart-div {
    text-align: center;
    padding: 15px;
}
.mz-cart-empty {
    padding: 15px 15px 18px;
}