
/**** Mobile and Tablet Common changes - Ipad(768) and below ****/

@media @mz-mobile-tablet-common-media-query {
	.container {
	    width: 100%;
	}
	.mz-pageheader{
		.mz-hamburger-icon{
			float: left;
			display: block;
			.navbar-collapse-control{
				font-size: 28px; 
				padding-right: 0!important;
				button{
					background: #fff;
				    border: 0;
				    padding: 5px 20px 5px 0; 
				}
			}	
		}
		.mz-header-content{
			.mz-header-logo-wrapper{
    			float: none;  
				margin: 0 auto;
				width: 122px;
				.logo {
				    width: 100%;
				    display: block;
				    padding-top: 10px;
				}
			}
			.mz-header-login-cart-wrapper{
				position: static; 
			}
			.mz-header-search-wrapper{
				width: 100%; 
			} 
		}
	}  
}