/*** Site Changes for Mobile screens ***/

@media @mz-xs-media-query {
	.mz-featured-products, .new-arrival-product-container, .mz-recently-viewed-products {
		.mz-productlist {
			.slick-arrow.fa-angle-right {
				right: 5px;
			}

			.slick-arrow.fa-angle-left {
				left: 5px;
			}

			.grid-view {
				.mz-productlist-item {
					&:nth-child(2n+1) {
						clear: none;
					}

					&:nth-child(3n+1) {
						clear: none;
					}

					.mz-productlisting-image {
						img {
							max-height: 120px;
							display: block;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}

	.global-marketing-area {
		ul {
			li {
				&:not(:first-child) {
				    display: none;
				}
			}
		}
	}
	
	//Home Slider
	#mz-home-slider {
		.slider {
			.mz-slide {
			    min-height: 230px;
			}
		}
		.mz-slide-details {
		    width: 100%;
		    position: static;
		}
		.bx-wrapper {
			.bx-pager {
				top: 185px;
				bottom: auto;
			}
			.bx-controls-direction {
			    display: none;
			}
		}
	}

	footer{ 
		padding: 18px 0 20px;
		.footer-bottom{
			padding-top: 30px;
			.mz-pagefooter-copyright{
				top:0px;
				margin-left: 0px;
				font-size: 11px;
			}
			ul{
				margin-top: 0px;
				li{
					padding: 0 3px 0 7px; 
					a{
						font-size: 11px;  
					}
				}
		    }
		}
		
		 input[type="email"],
		    input[type="text"] {
		        padding: 21px 9px;
		  }
	}

	.regular-footer {
		&.mini-footer-off{
			text-align: center;
		}
	} 

	.footer_menu {
		.glyphicon{
		    display: block !important;
		    position: absolute;
		    right: 8px; 
		    width: 100%;
			text-align: right; 
		} 
		ul{
			display: none; 
		}
 		&.active{
			.glyphicon-triangle-bottom:before{
				content: "\e253";
			}  
		}
	}

	.social-links{
		text-align: center;
	    padding: 10px 0 20px;
	    h4{
			margin: 0 0 10px;
		}
		div{
			a{
				font-size: 27px;  
		    }
		}
	}

	.mz-category {
		.mz-l-paginatedlist-header, 
		.mz-l-paginatedlist-footer {
			.mz-pagingcontrols {
				display: none; 
			}
		}
	}

	#mz-drop-zone-fsw-about-us {
    	text-align: center;
	    h2{
	    	margin-bottom: 0;
    		font-size: 24px;
	    } 
	}

	.mz-pageheader {
		.mz-header-content{ 
			.mz-header-search-wrapper{
				width:100%; 
			}
		}
	}

	.why-read-more {
    	display: inline-block;
    	.glyphicon{
    		position: relative;
		    top: 1px;
		    font-size: 12px;
		    left: 2px;
    	}
	}

	.why-us-desc {
	    height: 90px;
	    overflow: hidden; 
	}

	#mz-drop-zone-footer-cat-links-col1{
		border-top: 1px solid rgba(188,194,200,0.38);
        padding: 20px 0 0;
		ul{
			margin: 20px 0 0;
		}
		li{
			margin-bottom:20px;
		}
		i{
			padding-left: 4px;
		}
	} 
	input#email_address_0{
		padding: 0 10px;
	}
	.why-read-more.show-content{
		.glyphicon-chevron-down:before {
	       content: "\e113";
		} 
	} 
	.why-read-more::before {
   		 content: 'Read More';
	}
	.why-read-more {
		&.show-content{ 
			&:before{
				content: 'Read Less'; 
			}
		}
	}
	
	#back-to-top {
	    font-size: 23px;
	    width: 45px;
	    height: 45px;
	    right: 15px;
	    bottom: 80px;
	}

	/**** Cart Page ****/ 
	.mz-cart {
		.mz-price-total-container {
		    padding-left: 100px;
		    font-weight: 600;
		}
		.mz-carttable-item-qty {
			margin-top: 15px;
			.qty-block {
			    float: left;
			}
		}
		.mz-table-cart-items {
			.mz-carttable-item-remove {
			    float: left;
			    clear: none;
			    width: auto;
			}
		}
		.mz-carttable-item-total {
			margin-top: 15px;
		}
		.mz-table-cart {
			.mz-button-bottom-cart {
				.mz-button {
				    margin-top: 15px;
				    width: 100%;
				}
			}
		}
	}

	.mz-productimages {
		.mz-productimages-thumbs {
			.bx-wrapper {
				img {
					margin: 0 auto;
				}
				.bx-prev {
					left: 0;
				}
				.bx-next {
					width: 16px;
					left: 100%;
					top: 50%;
				}
			}
		}
	}
	.mz-product {
		.mz-product-tabs {
			.nav {
				text-align: left;
				&.nav-tabs {
					li {
						border: none;
					    position: relative;
						margin: 0;
						float: none;
					    a {
					    	padding: 10px 15px;
					    	&:after {
							    content: "\f067";
							    position: absolute;
							    top: 12px;
							    right: 15px;
							    font-size: 16px;
							    font-family: "FontAwesome";
							}
						}
						&.active {
							a {
								background: @linkColor;
								border-bottom: none;
								color: #fff;
						    	&:after {
								    content: "\f068";
								}
							}
						}
					}
				}
			}
			.tab-content {
				.tab-pane {
				    padding: 15px 0;
				}
			}
		}
	}

	/**** Checkout Page ****/ 
	.mz-checkout {
		#page-content {
		    padding: 25px 0;
		}
		#checkout-rightcol {
		    padding-left: 0;
		}
		.mz-checkoutform-couponcode, 
		.mz-checkoutform-comments {
			label {
			    text-align: left;
			}
		}
		.form-group {
			.col-sm-4,
			.col-sm-8 {
				padding: 0;
			}
		}
		.mz-checkoutform-shippingaddress {
			.mz-formgroup-align {
				&.mz-label {
					label {
					    line-height: 30px;
					    display: block;
					    width: 100%;
					    text-align: left;
					}
				}
			}
		}
		.mz-paymentselector {
			&.mz-l-formfieldgroup {
				.form-group {
					label {
    					line-height: 30px;
						text-align: left;
					}
				}
			}
		}
		.mz-payment-credit-card-expiration-row {
			.form-control {
				&.mz-l-formfieldgroup-halfsize {
				    float: right;
				    margin-right: 0;
				    width: 95%;
				}
				&#mz-payment-expiration-month {
				    float: left;
				    width: 95%;
				}
			}
		}
		.mz-payment-credit-card-securitycode-row {
			label {
			    width: 170px;
			}
		}
		.mz-create-account-fields {
			padding: 0;
			label {
			    display: block;
			    line-height: 30px;
			    text-align: left;
			}
			.mz-formstep {
				.mz-formstep-next {
    				margin-top: 0;
				}
			}
		}
	}

	/**** My Account ****/
	#liteRegistrationModal {
		.modal-dialog {
			&.login-modal {
			    margin: 0 auto;
			    max-width: 380px;
			    width: 100%!important;
			    .modal-content {
				    top: 0px;
				}
			}
		}
		.modal-body {
			.pull-left,
			.pull-right {
			    width: 100%;
			}
			.pull-left {
			    border-right: 0;
			    border-bottom: 1px solid #e0e0e0;
			    margin-top: -15px;
    			margin-bottom: 15px;
			    padding-right: 0;
			    padding-bottom: 15px;
			}
			.pull-right {
			    padding-left: 0;
			}
			.mz-button {
    			padding: 6.25px;
    		}
		}
	}

	.mz-myaccount {
		.mz-l-pagecontent {
		    padding: 25px 0px;
		}
		.mz-myaccount-panels {
			margin-top: 15px;
			.mz-l-stack-section {
				h3 {
					&.mz-l-stack-sectiontitle {
					    margin: 0 0 15px!important;
					}
				}
			}
			.control-label {
			    line-height: 30px;
			}
			.mz-accountsettings {
				.mz-accountsettings-section {
				    max-width: 100%;
				}
			}
			.mz-passwordsection {
				.mz-accountsettings-password {
				    max-width: 100%;
				}
			}
			.mz-accountaddressbook {
				li {
					&.mz-accountaddressbook-contact {
						border-left: 0;
						border-bottom: 1px solid #e0e0e0;
						width: 100%;	
					    margin: 0 0 15px 0;
					    padding: 0 15px 15px 15px;
						&.mz-accountaddressbook-form {
						    width: 100%;
						}
						.form-group {
							.col-sm-4 {
							    padding: 0 15px;
							}
						}
					}
				}
			}
			.mz-label {
			    text-align: left;
			    label {
				    line-height: 30px;
				}
			}
			#paymentmethods {
				.mz-accountpaymentmethods {
					.mz-accountpaymentmethods-form {
					    max-width: 100%;
					}
				}
				.mz-accountpaymentmethods-method {
					&.mz-accountpaymentmethods-form {
						.mz-creditcardform {
							label {
							    line-height: 30px;
							    text-align: left;
							}
						}
					}
				}
			}
		}
	}

	.mz-loginform, 
	.mz-forget-password, 
	.mz-signupform, 
	.mz-reset-password {
    	padding: 15px 15px 30px;
    	.mz-pagetitle {
		    font-size: 20px;
		}
	}

}