/*** Site Changes for Mobile screens ***/

@media @mz-xs-media-query {
	.mz-featured-products, .new-arrival-product-container, .mz-recently-viewed-products {
		.mz-productlist {
			.slick-arrow.fa-angle-right {
				right: 19px;
			}

			.slick-arrow.fa-angle-left {
				left: 19px;
			}

			.grid-view {
				.mz-productlist-item {
					&:nth-child(2n+1) {
						clear: none;
					}

					&:nth-child(3n+1) {
						clear: none;
					}

					.mz-productlisting-image {
						img {
							max-height: 120px;
							display: block;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}

	footer {
		.footer-bottom {
			.mz-pagefooter-copyright {
				top: 0px;
			}
		}
	}

}