/**** Site Changes for small screens(larger than 768px) ****/
@media @mz-sm-media-query {
	.container {
	    width: 100%;
	}
	.mz-checkout {
		.mz-l-2column {
			.mz-l-column {
			    float: none;
			    width: 100%;
			    padding-left: 0;
			    +.mz-l-column {
				    padding-right: 0;
				}
			}
		}
		#checkout-rightcol {
		    padding-left: 0;
		}
	}
}