#global-cart {
	.media-list {
		.is-saleprice{
			font-weight: 500; 
		}
    	.media {
		    padding: 0 30px 10px;
		    &.heading-row {
			    padding: 0px 30px;
			    text-transform: capitalize;
			}
		}
	}
	.media-left {
		float: left;
		max-height: 110px;
        max-width: 110px;
	}
	.mz-options {
		color: #666;
	}
	.mz-cart-section {
		border-bottom: 1px solid #d3d3d3;   
	    padding: 0 15px 30px;
	}
	.mz-button {
		font-size: 16px;
		float: left;
		line-height: 20px;
		margin: 0 15px;
		width: 27.68%;
		text-align: center;
		padding: 10px 21px;
		&.view-cart-btn {
		    background: #fff;
		    color: @linkColor;
		    &:hover {
		    	color: #fff;
		    	background: @btnBgHoverColor;
		    	text-decoration: none;
		    }
		}
	}
	.mz-you-many {
	    color: #333;
	    font-size: 16px;
	    padding: 5px 30px;
	}
	.mz-user-login {
		.mz-button {
			width: 44.35%;
			text-align: center;
		}
	}
	.global-cart-padding {
		.mz-item-price {
			text-align: center;
			display: block;
		}
	} 
	.is-saleprice {
		display: block;
	}
}
.mz-pageheader {
	.total-amount-row {
		color: #333333;
		font-size: 16px;
    	line-height: 26px;
	    margin: 0 0 30px 0;
	    padding: 20px 10px;
	}
}
.mz-item-price{
	&.is-saleprice{
		color: #990000;  
	}
}
