#mz-home-slider {
    .slider {
        .mz-slide {
            background-position: center center; 
            background-size: cover;
            display: block;
            min-height: 420px;
            img {
                margin: 0 auto;
            }
        }
        .slide {
            &:first-child {
                display: block;
            }
            display: none;
        }
    }
    .mz-slide-details {
        background: rgba(255,255,255,0.8);
        padding: 30px 15px;
        width: 353px;
        position: absolute;
        top: 19%;
        right: 20.6%;
        text-align: center;
        h4 {
            color: #000;
            font-size: 15px;
            font-weight: 600;
            margin: 0 0 6px 0;
            text-transform: uppercase;
        }
        h3 {
            color: #000;
            font-size: 30px;
            font-weight: 600;
            margin: 0;
            line-height: 35px;
            text-transform: capitalize;
            &.mz-slider-main-title {
                text-transform: uppercase;
            }
        }
        button {
            background: transparent;
            color: #000;
            border: 2px solid #000;
            font-size: 16px;
            font-weight: 600;
            margin-top: 20px;
            padding: 10px 15px;
        }
    }
    .bx-wrapper {
        .slider {
            .slide {
                display: block;
            }
        }
        padding: 0;
        .bx-controls-direction {
            width: 100%;
            // max-width: 1140px;
            position: absolute;
            margin: 0 auto;
            top: 50%;
            right: 0;
            left: 0;
            transform: translateY(-50%);
            a {
                font-size: 0;
                width: auto;
                height: auto;
                margin-top: -32px;
                text-decoration: none;
                &:before {
                    color: #c2c2c2;
                    font-size: 100px;
                    font-family: "FontAwesome";
                    line-height: 55px;
                }
                &.bx-next {
                    right: 15px;
                    &:before {
                        content: "\f105";
                    }
                }
                &.bx-prev {
                    left: 15px;
                    &:before {
                        content: "\f104";
                    }
                }
            }
        }
        .bx-pager {
            bottom: 20px;
            &.bx-default-pager {
                a {
                    background: #fff;
                    width: 15px;
                    height: 15px;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    &:hover, &.active, &:focus {
                        background: @btnBgColor;
                    }
                }
            }
        }
    }
}