#mz-home-slider {
    .slider {
        .mz-slide {
            display: block;
            img {
                margin: 0 auto;
            }
        }
        .slide {
            &:first-child {
                display: block;
            }
            display: none;
        }
    }
    .bx-wrapper {
        .slider {
            .slide {
                display: block;
            }
        }
        padding: 0;
        .bx-controls-direction {
            width: 100%;
            // max-width: 1140px;
            position: absolute;
            margin: 0 auto;
            top: 50%;
            right: 0;
            left: 0;
            transform: translateY(-50%);
            a {
                font-size: 0;
                width: auto;
                height: auto;
                margin-top: -32px;
                text-decoration: none;
                &:before {
                    color: #c2c2c2;
                    font-size: 100px;
                    font-family: "FontAwesome";
                    line-height: 55px;
                }
                &.bx-next {
                    right: 15px;
                    &:before {
                        content: "\f105";
                    }
                }
                &.bx-prev {
                    left: 15px;
                    &:before {
                        content: "\f104";
                    }
                }
            }
        }
        .bx-pager {
            bottom: 20px;
            &.bx-default-pager {
                a {
                    background: #fff;
                    width: 15px;
                    height: 15px;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    &:hover, &.active, &:focus {
                        background: #2b648c;
                    }
                }
            }
        }
    }
}