//Color option
.product-color-swatches {
	li {
		&.color-options {
			border-radius: 50px;
			&.active{
			   outline: none;
				border: 1px solid black;
				box-shadow: 0 0 0px 2px #fff inset;
		    }
			&:hover {
				outline: none;
				border: 1px solid black;
				box-shadow: 0 0 0px 2px #fff inset;
			}
		}
	}
}

//Crossell
#product-crosssells{
	margin-bottom: 40px;
	.mz-product-slider{
		.mz-product-image{
			img{
				max-height: 166px;
				display: block;
				margin: 0 auto;
			}
		}
	}
}
