.mz-shop-now-widget {
    margin-bottom: 30px; 
    .mz-details-container {
        .mz-hot-deal-title-one {
            font-size: 12px;
            font-weight: 600;
            line-height: 36px;
            text-transform: uppercase;
        }
        .mz-hot-deal-title-two {
            font-size: 18px;
            line-height: 36px;
        }
        p {
            margin: 0;
        }
        .mz-btn {
            color: @linkColor;
            line-height: 36px;
        }
    }
}
#mz-drop-zone-shop-now-widget {
    .mz-cms-col-6-12 {
        &:first-child {
            padding-right: 15px;
        }
    }
    .mz-cms-col-6-12 {
        &:last-child {
            padding-left: 15px;
        }
    }
}